@model CrudButtonViewModel

<a asp-page="@Model.EditRoute" asp-route-id="@Model.EntityId">@Model.EditRoute</a>

<a asp-page="@Model.DeleteRoute" asp-route-id="@Model.EntityId">@Model.DeleteRoute</a>
<!-- @Model.EntityId -->